.divDetail {
    background-image: url("../../assets/images/Detail.jpg");
    background-repeat: repeat;
    background-size: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divCountry {
    background-color: antiquewhite;
    width: 40vw;
    height: 110vh;
    border-radius: 2em;
}

.img {
    block-size: 20vh;
    border-radius: 1.5em;
}