.div {
  background-image: url("../../assets/images/Landing.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flow-root;
  height: 100vh;
}