.divNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    background-color:rgba(112, 165, 205, 0.718);
}

.btn {
    font-size: 4vh;
    width: 25vw;
    padding: 0;
    height: 6vh;
    background-color:rgba(134, 194, 222, 0.718);
    opacity: 80%;
    border: none;
}

.btn:hover {
    background-color:rgb(126, 91, 91);
    cursor: pointer;
    opacity: 100%;
    color: #fff;
}